.add_btn{
  text-align: right;
  color: orange;
}
.btn button{
  
 color: orange;
}
.container{
overflow: auto;}
.left_view h3{
  font-size: 20px;
}
.left_view h3 span{
  font-weight: 400;
  margin-top: 3;
}
.right_view h3{
  font-size: 20px;
}

.right_view h3 span{
  font-weight: 400;
}
